<section id="hero">
  <div class="hero-container">
    <h1>GNDEC Sports Department</h1>
    <!-- <h2>We are team of talanted designers making websites with Bootstrap</h2> -->
  </div>
</section>
<!-- #hero -->