<section id="contact">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Contact</h3>
      </div>
    </div>

    <!-- <div id="google-map" data-latitude="30.858935" data-longitude="75.860235"></div> -->

    <div class="container wow fadeInUp">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Gill Park, Gill Road,<br> Ludhiana 141006, Punjab(India)</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>director@gndec.ac.in </p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>0161 250 2700</p>
            </div>
          </div>

          <div class="social-links">
            <a href="https://www.facebook.com/gndecsports/" class="facebook"><i class="fa fa-facebook"></i></a>
           
            <a href="https://plus.google.com/+gndec" class="google-plus"><i class="fa fa-google-plus"></i></a>
          
          </div>

        </div>

      </div>

    </div>
  </section><!-- #contact -->