<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<title>
		<%= title %>
	</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicons -->
	<link href="/assets/img/gnelogofavicon.jpg" rel="icon">
	<link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="/assets/googlefonts/googlefonts.css" rel="stylesheet">

	<!-- Bootstrap CSS File -->
	<link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Libraries CSS Files -->
	<link href="/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/assets/lib/animate/animate.min.css" rel="stylesheet">

	<!-- Main Stylesheet File -->
	<link href="/assets/css/style.css" rel="stylesheet">
	<link href="/assets/css/table.css" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
	</style>
	<script type="text/javascript" src="/assets/js/webcam.min.js"></script>
	<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
	<script type="text/javascript" src="/assets/js/jQuery.print.js"></script>

	<style>
		a {
			color: #2dc997;
		}

		a:hover,
		a:active,
		a:focus {
			color: #2dca98;
			outline: none;
			text-decoration: none;
		}
	</style>
</head>



<body>
	<!--==========================
  Header
  ============================-->
	<header id="header">
		<div class="container">

			<div id="logo" class="pull-left">
				<a href="/">
					<img src="/assets/img/gnelogohoriz.png" alt="GNDEC SPORTS" title="GNDEC SPORTS" width="500" height="100px"></img>
				</a>

				<!-- Uncomment below if you prefer to use a text logo -->
				<!-- <h1><a href="#hero">GNDEC SPORTS</a></h1> -->
			</div>

			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<li class="menu-has-children">
						<a href="/">Home</a>
						<ul>
							<li>
								<a href="#contact">Contact</a>
							</li>
						</ul>
					</li>

					<li class="menu-has-children">
						<a href="">Registration</a>
						<ul>
							<li>
								<a href="/students/add">New Registration</a>
							</li>
							<li>
								<a href="/students">View Registration</a>
							</li>
						</ul>
					</li>
					<li class="menu-has-children">
						<a href="">Events</a>
						<ul>
							<li>
								<a href="/events/add">Add New Event</a>
							</li>
							<li>
								<a href="/events">View Events</a>
							</li>
						</ul>
					</li>
					<li class="menu-has-children">
						<a href="">Attendence</a>
						<ul>
							<li>
								<a href="/attendence/add">Mark Attendence</a>
							</li>
							<li>
								<a href="/attendence">View Attendence</a>
							</li>
						</ul>
					</li>
					<li class="menu-has-children">
						<a href="">Results</a>
						<ul>
							<li>
								<a href="/result/add">Add New Result</a>
							</li>
							<li>
								<a href="/result">View Result</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- #nav-menu-container -->
		</div>
	</header>
	<!-- #header -->

	<!-- <div>
		<a href="/">Home</a> |
		<a href="/students/add">Add New student</a> |
		<a href="/students">All students List</a>
		<a href="/events/add">Add New event</a> |
		<a href="/events">All events List</a> |
		<a href="/result/add">Add New result</a> |
		<a href="/result">All Result List</a> |
		<a href="/attendence/add">Add New attendence</a> |
		<a href="/attendence">All attendence List</a>
	</div>
	<h1>
		<%= title %>
	</h1> -->

	<!--==========================
    Hero Section
  ============================-->


	<main id="main">