<html>

<head>

	<title>
		<%= title %>
	</title>
</head>

<body>
	<div>
		<a href="/">Home</a> |
		<a href="/students/add">Add New student</a> |
		<a href="/students">All students List</a>
		<a href="/events/add">Add New event</a> |
		<a href="/events">All events List</a> |
		<a href="/result/add">Add New result</a> |
		<a href="/result">All Result List</a> |
		<a href="/attendance/add">Add New Attendance</a> |
		<a href="/attendance">All Attendance List</a>
	</div>
	<h1>
		<%= title %>
	</h1>