<html>

<head>

	<title>
		<%= title %>
	</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicons -->
	<link href="/assets/img/gnelogofavicon.jpg" rel="icon">
	<link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="/assets/googlefonts/googlefonts.css" rel="stylesheet">

	<!-- Bootstrap CSS File -->
	<link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Libraries CSS Files -->
	<link href="/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/assets/lib/animate/animate.min.css" rel="stylesheet">

	<!-- Main Stylesheet File -->
	<link href="/assets/css/style.css" rel="stylesheet">
</head>



<body>
	<!--==========================
  Header
  ============================-->
	<header id="header">
		<div class="container">

			<div id="logo" class="pull-left">
				<a href="/">
					<img src="/assets/img/gnelogohoriz.png" alt="GNDEC SPORTS" title="GNDEC SPORTS" width="500" height="100px"></img>
				</a>

				<!-- Uncomment below if you prefer to use a text logo -->
				<!-- <h1><a href="#hero">GNDEC SPORTS</a></h1> -->
			</div>

			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<li class="menu-has-children">
						<a href="/">Home</a>
						<ul>
							<li>
								<a href="#contact">Contact</a>
							</li>
						</ul>
					</li>

					<li class="menu-has-children">
						<a href="">Registration</a>
						<ul>
							<li>
								<a href="/students/add">New Registration</a>
							</li>
							<li>
								<a href="/students">View Registration</a>
							</li>
						</ul>
					</li>
					<li class="menu-has-children">
						<a href="">Events</a>
						<ul>
							<li>
								<a href="/events/add">Add New Event</a>
							</li>
							<li>
								<a href="/events">View Events</a>
							</li>
						</ul>
					</li>
					<li class="menu-has-children">
						<a href="">Attendence</a>
						<ul>
							<li>
								<a href="#">Mark Attendence</a>
							</li>
							<li>
								<a href="#">View Attendence</a>
							</li>
						</ul>
					</li>
					<li class="menu-has-children">
						<a href="">Results</a>
						<ul>
							<li>
								<a href="#">Add New Result</a>
							</li>
							<li>
								<a href="#">View Result</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- #nav-menu-container -->
		</div>
	</header>
	<!-- #header -->

	<!-- <div>
		<a href="/">Home</a> |
		<a href="/students/add">Add New student</a> |
		<a href="/students">All students List</a>
		<a href="/events/add">Add New event</a> |
		<a href="/events">All events List</a> |
		<a href="/result/add">Add New result</a> |
		<a href="/result">All Result List</a> |
		<a href="/attendance/add">Add New Attendance</a> |
		<a href="/attendance">All Attendance List</a>
	</div>
	<h1>
		<%= title %>
	</h1> -->

	<!--==========================
    Hero Section
  ============================-->


	<main id="main">